# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
dama*
upload
tmp
config.yml
source
*.log
.vagrant*
*tar.gz
*zip
*.box
!.circleci/config.yml